@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --card: 217 33% 17%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 246 83% 67%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217 19% 27%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 19% 27%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217 19% 27%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 19% 27%;
    --input: 217 19% 27%;
    --ring: 246 83% 67%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
